<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina no encontrada</title>
</head>
<body>
    <h1>PAGINA NO ENCONTRADA (404)</h1>
    <h2>Revisa el link de la página a la que deseas acceder:</h2><br>
    <h3>/ para ir a Home</h3>
    <h3>/fotos para ir a la pagina de Fotos</h3>
    <h3>/hobbies para ir a la pagina de Hobbies</h3>
    <h3>/juegos para ir al Ranking de Juegos</h3>
</body>
</html>