<b class="Titulo">Fotos Variadas</b>

 <div class="container">
        <div><p class="texto">Yo<br><img src="imgs/fotosP/p1.jpg" class="imagen2"></p></div>
        <div><p class="texto">Tarde de Abril<br><img src="imgs/fotosP/p2.jpg" class="imagen2"></p></div>
        <div><p class="texto">El ojo de agua<br><img src="imgs/fotosP/p3.jpg" class="imagen2"></p></div>
        <div><p class="texto">La unidad de la carretera<br><img src="imgs/fotosP/p4.jpg" class="imagen2"></p></div>
        <div><p class="texto">El macrolibramiento<br><img src="imgs/fotosP/p5.jpg" class="imagen2"></p></div>
        <div><p class="texto">La Primavera<br><img src="imgs/fotosP/p6.jpg" class="imagen2"></p></div>
        <div><p class="texto">Tala<br><img src="imgs/fotosP/p7.jpg" class="imagen2"></p></div>
        <div><p class="texto">Tapalpa<br><img src="imgs/fotosP/p8.jpg" class="imagen2"></p></div>
        <div><p class="texto">Algun punto sobre la carretera<br><img src="imgs/fotosP/p9.jpg" class="imagen2"></p></div>
    </div>