<b class="Titulo">Algunos Hobbies</b>

<div class="container">
        <div><p class="texto">Salir en Bicicleta<br><img src="imgs/hobbies/h1.jpg" class="imagen"></p></div>
        <div><p class="texto">Los Videojuegos<br><img src="imgs/hobbies/h2.jpg" class="imagen"></p></div>
        <div><p class="texto">Hacer pan<br><img src="imgs/hobbies/h3.jpeg" class="imagen"></p></div>
        <div><p class="texto">Salir al billar<br><img src="imgs/hobbies/h4.jpg" class="imagen"></p></div>
        <div><p class="texto">Ejercicio<br><img src="imgs/hobbies/h6.jpg" class="imagen"></p></div>
    </div>