<main>
        <b class="Titulo">Jesús Manuel Miramontes</b>
        <br>

        <div class="container">
            <div><p class="texto">Jesús Manuel Miramontes<br><p class="subtexto">Ingenieria en Sistemas Computacionales</p></p></div>
            <div><p class="texto">Foto<br><img src="imgs/yo.jpg" class="imagen"></p></div>
            <div><p class="texto">Proyecto de Web<p class="subtexto">Pazari<br>Un bazar en linea para<br>promover el comercio local</p></p></div>
            <div><p class="texto">Vivo en Tala<br><img src="imgs/tala.jpg" class="imagen"></p></div>
            <div><p class="texto">Comidas Favoritas<p class="subtexto">&#183;Western Bacon<br>&#183;Pay de Queso<br>&#183;Papas Fritas</p></p></div>
            <div><p class="texto">Contacto<p class="subtexto">&#183;Télefono:<br> 33 2242 7019<br><br>&#183;Correo:<br> jesusm.miramontes@iteso.mx</p></p></div>
        </div>
</main>