<b class="Titulo">Top 8 Juegos</b>

<div class="container">
        <div><p class="texto">1.- Pokémon Mistery Dungeon 2<br><img src="imgs/juegos/top1.jpg" class="imagen"></p></div>
        <div><p class="texto">2.- Terraria<br><img src="imgs/juegos/top2.jpg" class="imagen"></p></div>
        <div><p class="texto">3.- Super Mario Galaxy<br><img src="imgs/juegos/top3.jpg" class="imagen"></p></div>
        <div><p class="texto">4.- Sonic Mania<br><img src="imgs/juegos/top4.jpg" class="imagen"></p></div>
        <div><p class="texto">5.- Yakuza 0<br><img src="imgs/juegos/top5.jpg" class="imagen"></p></div>
        <div><p class="texto">6.- KOF 2002<br><img src="imgs/juegos/top6.jpg" class="imagen"></p></div>
        <div><p class="texto">7.- Mario Kart DS<br><img src="imgs/juegos/top7.jpg" class="imagen"></p></div>
        <div><p class="texto">8.- Risk of Rain 2<br><img src="imgs/juegos/top8.jpg" class="imagen"></p></div>

    </div>