<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/css/estilo_general.css">
    <title>Tarea 3: Ahora con Node JS</title>
</head>
<body>
    <header><b class="Titulo">Tarea #3</b>
    <nav>
        <a class="navegacion" href="/">Página Principal &#8226</a>
        <a class="navegacion" href="/fotos">Página de fotos &#8226</a>
        <a class="navegacion" href="/hobbies">Página de hobbies &#8226</a>
        <a class="navegacion" href="/juegos">Ranking de Juegos</a>
    </nav>
    </header>
    
    {{{body}}}

    <footer>
       <b class="Titulo">Usando NODE JS</b>
    </footer>
    
</body>
</html>