<h1 class="Tittle2">Parece que no hubo resultados...</h1>
<h2 class="Tittle2">Intenta otra vez</h2>

<br><br><br>
<div class="ContainerInput">
    <a href="http://localhost:3000/"><button type="button" id="searchButton">Regresar</button></a>
</div>
<br><br><br>