
<h1 class="Tittle2">Pagina Principal</h1>

<h3 class="Tittle2">Ingresa tu búsqueda:</h3><br>
<div class="ContainerInput">
       <form action="http://localhost:3000/busqueda">
       <input type="text" id="searchInput" name="searchInput" minlength="1" required> 
       <button type="submit" id="searchButton">¡Buscar!</button>
       </form>

</div>
<br><br><br><br>