<h1>Mis Certificaciones</h1>

<h2>Proulex CUCEI</h2>
<h3>Inglés<br>Terminado hasta PC</h3>
<div>
    <img src="../../../assets/images/certifications/cucei.jpg">
</div>
<br><br><br>

<h2>Proulex Computación</h2>
<h3>Curso de Programación<br>
Terminado</h3>
<div>
    <img src="../../../assets/images/certifications/proulex.jpg">
</div>
<br><br><br>

<h2>IJLE: Instituto Jaliscience de Lenguas Extranjeras</h2>
<h3>Inglés<br>Terminado</h3>
<div>
    <img src="../../../assets/images/certifications/IJLE.jpg">
</div>
<br><br><br>