<h1>Lenguajes</h1>
<div>
    <img src="../../../assets/images/languages/c.png">
</div>
<h3>2 semestres</h3>
<br>

<div>
    <img src="../../../assets/images/languages/java.png">
</div>
<h3>2 semestres</h3>
<br>

<div>
    <img src="../../../assets/images/languages/html.png" class="html_image">
</div>
<h3>1 semestre</h3>
<br>

<div>
    <img src="../../../assets/images/languages/sql.png">
</div>
<h3>2 semestres</h3>
<br>

<div>
    <img src="../../../assets/images/languages/python.png">
</div>
<h3>1 semestre</h3>