<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/css/styles/general_style.css">
    <title>Tarea 4: News App</title>
</head>
<body>
    <header>
        <b class="Tittle">News App</b>

    </header>
    
    {{{body}}}

    <footer>
       <b class="Tittle">Usando Axios</b>
    </footer>
    
</body>
</html>