<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <nav>
        <a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i>Inicio</a> &#9900;
        <a routerLink="/education"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Educación</a> &#9900;
        <a routerLink="/projects"><i class="fa fa-code" aria-hidden="true"></i>Proyectos</a> &#9900;
        <a routerLink="/certifications"><i class="fa fa-certificate" aria-hidden="true"></i>Certificaciones</a> &#9900;
        <a routerLink="/languages"><i class="fa fa-html5" aria-hidden="true"></i>Lenguajes</a>  &#9900;
        <a routerLink="/contact"><i class="fa fa-phone" aria-hidden="true"></i>Contacto</a>
    </nav>
</div>