$back_color: #FDB360;
$text_color: #5B484E;
$support_color: #56938E;
div{
    height: 555px;
}

p{
    color: $text_color;
    text-align: center;
    font-size: 34px;
}

.title{
    font-size: 44px;
    font-weight: bolder;
}

