<h1>Mis Proyectos</h1>

<h2>Pazari</h2>
<div>
    <img src="../../../assets/images/proyects/pazari.png">
</div>
<h3>Aplicación Web de un e-commerce de productos<br>
locales de Guadalajara, simulando un carrito de compras,<br>
compradores y vendendores cada uno con sus propias operaciones:<br>
Los vendedores tienen una marca, enlace a su red social más usada,<br>
capacidad de añadir y eliminar productos, mientras que los compradores<br>
pueden comprar estos productos, buscar por categorías y nombres de marcas<br>
y consultar los bazares proximos a realizarse en Guadalajara.<br><br>
Lenguajes:<br>
HTML, CSS, JS y Node JS</h3>


<br><br>
<h2>API Personajes RPG</h2>
<div>
    <img src="../../../assets/images/proyects/api3.png">
</div>
<h3>Una API que permite crear personajes al estilo RPG;<br>
usando clases y diferentes caracteristicas para los atributos iniciales<br>
y permitir añadir una imagen mediante una ruta local. Además, se<br>
pueden añadir hasta cuatro movimientos que coincidan con la clase<br>
del personaje.<br>
Todos estos datos se guardan en una base de datos SQL conectada<br>
a la aplicación para manejar un sistema de cuentas de usuario<br>
para que solo se pueda acceder a los personajes propios<br>
y cargarlos solo en caso de usarlos para pelear<br>
Como añadido, se implementó una interfaz gráfica sencilla<br>
para que los usuarios puedan iniciar sesión y gestionar sus personajes,<br>
además, existe un modo de combate vs CPU en el que<br>
se batalla usando un personaje propio contra personajes<br>
predefinidos para la computadora.
<br><br>
Lenguajes:<br>
Java, apoyandose en JFrame para UI<br>
MySQL para la base de datos</h3>

<br><br>
<h2>Shin Megami Tensei Zero</h2>
<h3>Un pequeño simulador de batallas RPG por turnos<br>
utilizando la consola de C, con un<br>
creador de personajes sencillo en el que se define nombre y HP.<br>
Se apoya del uso de hilos para eventos aleatorios cada 30 segundos<br>
en medio del combate, el uso de un stack para determinar el<br>
mejor jugador en base a la relación Victorias-Derrotas<br>
y el uso de listas dinámicas para la lista de personajes creados.<br>
También incluye un combate sencillo contra la computadora.
<br><br>
Lenguajes:<br>
C</h3>